version: '3'
services:
  api:
    build: .
    env_file: .env
    ports:
      - "5000:5000"
    restart: always
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data: 